<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.extentReports.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.fb.qa.testcases.FindFriendsTest"/>
      <class name="com.fb.qa.testcases.SignUpPageTest"/>
      <class name="com.fb.qa.testcases.LoginPageTest"/>
      <class name="com.fb.qa.testcases.HomePageTest"/>
      <class name="com.fb.qa.testcases.ReelsPageTest"/>
    </classes>
  </test> <!-- Test -->  
</suite> <!-- Suite -->
